main.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img, video {
  max-height: max(80vh, 60vw);
  margin-bottom: 2em;
}

section.description {
  flex-basis: 20em;
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

section.description div {
  position: fixed;
  max-width: 20em;
}

.specification {
  margin-top: 2.5em;
  color: #aaa;
  font-size: 10pt;
}

.specification p {
  margin: 0;
}

@media (max-width: 800px) {
  main.details {
    flex-direction: column-reverse;
  }

  section.description div {
    position: initial;
  }

  section.description {
    padding-top: 0;
    margin-bottom: 1em;
    flex-basis: unset;
  }
}
